@require "vars";

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.84);
	background-color: bg;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

.panel {
	position: relative;
	display: block;
	width: 100%;
	padding: 30px;
	background: bg-accent;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.control {
	width: 100%;
	position: relative;
	margin-bottom: 15px;

	&.control-inline {
		width: auto;
		display: inline-block;
	}

	label {
		display: block;
		width: 100%;
		color: primary;
		font-size: 0.8rem;
		transition: all 0.3s linear;
	}

	textarea, select, input {
		display: block;
		padding: 4px 0;
		font-size: 1.2rem;
		width: 100%;
		background: transparent;
		border: none;
		border-bottom: 1px solid light-gray;
		color: rgba(255, 255, 255, 0.84);
		outline: none;
	}

	input[type="checkbox"] {
		position: absolute;
		display: inline-block;
		width: auto;
		opacity: 0;
		padding: 0;

		&:checked {
			+ label {
				&:before {
					border-color: primary;
				}

				&:after {
					position: absolute;
					display: inline-block;
					content: '';
					left: 4px;
					top: 6px;
					width: 12px;
					height: 12px;
					background: primary;
					border-radius: 2px;
				}
			}
		}

		+ label {
			position: relative;
			display: inline-block;
			width: auto;
			min-height: 24px;
			padding-left: 28px;
			padding-top: 4px;
			color: rgba(0, 0, 0, 0.54);
			font-size: 1rem;

			&:before {
				position: absolute;
				display: inline-block;
				content: '';
				left: 0;
				top: 2px;
				width: 18px;
				height: 18px;
				border: 1px solid #CCC;
				border-radius: 4px;
			}
		}
	}

	select option {
		color: rgba(0, 0, 0, 0.84);
	}
}

.panel.icon-panel {
	padding: 30px;
	display: grid;
	grid-template-columns: 30px minmax(0, 1fr);
	align-content: center;
	justify-content: center;
	align-items: center;
	grid-column-gap: 30px;

	.panel-icon {
		color: primary;
		margin: auto;

		&.icon-error {
			color: #f14a4a;
		}

		svg.svg-inline--fa {
			height: 30px;
			width: 30px;
			margin: 0;
		}
	}

	.panel-content {
		width: 100%;
		max-width: 100%;
	}
}

.btn {
	display: block;
	width: 100%;
	outline: none;
	background: #CCC;
	padding: 15px 20px;
	white-space: nowrap;
	border: none;
	border-radius: 4px;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.14);
	transition: all 0.3s linear;

	&:focus, &:active, &:hover {
		cursor: pointer;
		box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.28);
	}

	&.btn-inline {
		display: inline-block;
		width: auto;
		margin-right: 15px;
	}

	&.btn-success {
		background: primary;
		color: rgba(255, 255, 255, 0.84);
	}

	&.btn-danger {
		background: negative-accent;
		color: rgba(255, 255, 255, 0.84);
	}

	&:disabled {
		opacity: 0.54;
		cursor: default;
	}
}

.fade-enter-active {
	transition: all .4s ease;
}

.fade-leave-active {
	transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-enter, .fade-leave-to {
	transform: translateY(30px);
	opacity: 0;
}

@media screen and (max-width: 767px) {
	.hide-mobile.hide-mobile {
		display: none;
	}
}

.group-stats {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 15px;

	.group-item {
		padding: 15px 15px;
		white-space: nowrap;
		text-align: center;
		color: primary;

		&.group-negative {
			color negative-accent;
		}
	}

	.group-title {
		font-size: 0.8rem;
		margin-bottom: 10px;
		color: rgba(0, 0, 0, 0.54);
	}
}

@media screen and (min-width: 400px) {
	.group-stats {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 700px) {
	.group-stats {
		grid-template-columns: repeat(3, 1fr);
	}
}

@require "typeography.styl";