primary = #19cf86; //#46D89E //#19CF86
primary-light = #edfbf6;
//primary = #4e9c6b;
primary-dark = darken(#1ed660, 20%);

/* accent = #78b95d;
accent-dark = darken(accent, 20%); */

negative-accent = #9b4343;
negative-dark = darken(negative-accent, 20%);